// nav
$navBgColor : #262626;
$serveLive : #8BFF6F;
$navButton: #ffffff1A;
$mainTextColor: #262626;
$subTextColor: #26262666;
$navTextColor: #ffffff1A;
$borderColor: #2626260A;
$FontWeight: 600;
$contentFontColor: #262626;