// nav
$navBgColor : #7ED22F;
$serveLive : #F9F400;
$navButton: #FFFFFF;
$mainTextColor: #005662;
$subTextColor: #26262666;
$projectTextColor: #626262;
$navTextColor: #FFFFFF;
$borderColor: #2626260A;
$FontWeight: 600;
$contentFontColor: #7ED22F