@import '_ress', '_var', '_common', '_nav';
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.database{
    width: 80vw;
    height: 100vh;
    padding: 70px 40px 0 40px;
    margin-left: 20%;
    &__navarea{
        display: flex;
        justify-content: space-between;
        &__nav{
            width: 30vw;
            display: flex;
            justify-content: space-around;
            &__link{
                color: #26262666;
                font-size: 1.6rem;
                font-weight: $FontWeight;
                cursor: pointer;
                padding-top: 10px;
                margin-bottom: 15px;
                border-bottom: solid 3px #26262600;
            }
            &__active{
                color: $contentFontColor;
                padding-top: 10px;
                border-bottom: solid 3px #7ED22F;
            }
        }
        &__subnav{
            display: flex;
            &__link{
                color: #005662;
                font-size: 1.4rem;
                font-weight: $FontWeight;
                text-decoration: none;
                margin: 0 10px;
                padding-top: 2px;
            }
        }
    }
    &__border-x{
        border: solid 4px #2626260A;
    }
    &__content{
        h1{
            color: #005662;
            font-size: 2.4rem;
            font-weight: $FontWeight;
            margin-top: 40px;
        }
        &__servername{
            color: $contentFontColor;
            font-size: 1.2rem;
            margin-top: 10px;
        }
        &__tablewrap{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 60px;
            &__tablelist{
                width: 320px;
                height: 320px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                text-decoration: none;
                background: #7ED22F;
                color: #FFF;
                border-bottom: solid 10px #71BD29;
                border-right: solid 10px #71BD29;
                border-radius: 30px;
                font-size: 1.8rem;
                img{
                    padding-left: 25px;
                }
            }
            &__background{
                width: 230px;
                height: 230px;
                background-color: #71BD29;
                border-radius: 30px;
                &__tablelist-small{
                    width: 220px;
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    text-decoration: none;
                    background: #fff;
                    color: #005662;
                    border: solid 8px #7ED22F;
                    border-radius: 30px;
                    font-size: 1.2rem;
                    img{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: #727272A3;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade-in .5s forwards;
    &__box{
        width: 1000px;
        height: 664px;
        background-color: #fff;
        &__cross{
            width: 26px;
            height: 26px;
            margin: 38px 40px 0 auto;
            cursor: pointer;
        }
        &__heading{
            color: $mainTextColor;
            font-size: 2.4rem;
            font-weight: $FontWeight;
            letter-spacing: 10px;
            text-align: center;
            margin-top: 30px;
        }
        &__message{
            color: $contentFontColor;
            font-size: 1.2rem;
            font-weight: $FontWeight;
            text-align: center;
            margin-top: 15px;
        }
        &__select{
            width: 670px;
            height: 390px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 50px auto 0;
            &__create{
                width: 230px;
                height: 230px;
                background-color: #71BD29;
                border-radius: 30px;
                &__box{
                    width: 220px;
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    text-decoration: none;
                    background: #fff;
                    color: #005662;
                    border: solid 8px #7ED22F;
                    border-radius: 30px;
                    font-size: 1.4rem;
                    &__img{
                        padding-left: 15px;
                    }
                }
            }
            &__border{
                height: 100%;
                border-right: solid 4px $borderColor;
            }
        }
    }
}